* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --list-background-colour: rgba(46, 196, 182, 1);
    --list-font-family: 'Pangolin', cursive;
    --listwidth-desktop: 20rem;
    --listwidth-mobile: 15rem;
}

body {
    position: relative;
    min-height: 100vh;
    color: rgba(1, 22, 39, 1)
}


/* Page Background */

body::before {
    content: "";
    background-image: url("images/cat-bg-seamless.jpg");
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.05;
    z-index: -2;
}


/************************HIDDEN STYLE***********************/

.line-through {
    text-decoration: line-through;
    background-color: rgb(255, 159, 28);
    opacity: 0.5;
}



/************************HIDDEN STYLE***********************/


/* Colors */

.color-dark {
    color: rgba(1, 22, 39, 1)
}

.color-blue {
    color: rgba(46, 196, 182, 1)
}

.color-red {
    color: rgba(231, 29, 54, 1)
}

.color-orange {
    color: rgba(255, 159, 28, 1)
}


/* Stack */

.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.stack-md>*+* {
    margin-top: 1rem;
}

.stack-lg>* {
    margin-top: 2.5rem
}

.font-lg {
    font-size: 1.5rem;
}

.abs-pos {
    position: absolute;
}

.box-shadow {
    box-shadow: 0 4px 10px rgba(50,50,50, 0.8);
}

.bord-rad {
    border-radius: 5px;
}


/* Element Stylings */

.header-logo {
    height: 150px;
    width: 200px;
}

main {
    padding: 180px 0 4rem 0;
    flex-direction: column;
    font-family: var(--list-font-family);
}

header {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: -1;
    font-family: var(--list-font-family);
    font-size: 0.95rem;
}

.pawprints-img {
 height: 5rem;
 width: 2.5rem;
 transform: rotate(55deg);
 position: absolute;
 right: 15%;
 top: 25%;
 display: none;
}

.listItemsContainer {
    display: grid;
    grid-template-rows: auto;
    align-items: flex-end;
}

li {
    background-color: var(--list-background-colour);
}

.listItem {
    list-style-type: none;
    justify-content: space-between;
    padding: 0.3rem 0.5rem;
    min-height: 4rem;
}

label {
    padding-left: 2%;
}

.input-box {
    background-color: rgba(255,159,28,1);
    width:var( --listwidth-mobile);
}

input[type = text] {
    font-family: var(--list-font-family);
    line-height: 2.5rem;
    text-align: center;
    margin: 1rem 0.5rem;
    width: 75%;
    border: none;
}

button[type = submit] {
    background: none;
	color: rgba(67, 148, 140, 1);
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button[type = submit]:hover {
    color: rgba(1, 22, 39, 1);
    transform: scale(1.1);
}

button:active[type = submit] {
    transform: scale(0.9);
}

.listItem{
    width:var( --listwidth-mobile);
}

input.checkbox,
i {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.2rem;
}

button:hover {
    color: rgba(231, 29, 54, 1);
    transform: rotate(20deg) scale(1.2);
}

input.checkbox:focus {
    color: rgba(231, 29, 54, 1);
}

footer {
    font-style: oblique;
    font-size: 1.1rem;
    padding: 0 0.5rem 0.5rem 0.5rem;
    bottom: 0;
    max-width: 100vw;
    width: 100vw;
    text-align: center;
}

button {
    width: 2rem;
    border: none;
    background-color: transparent;
}

/************************ media****************************/

@media only screen and (min-width: 769px) {
    
    .stack-lg>* {
        margin-top: 3rem
    }

    .font-lg {
        font-size: 1.8rem;
    }

    header {
        flex-direction: row;
    }

    header p {
        font-size: 1.5rem;
        position: absolute;
        top: 20%;
        right: 5%;
    }

    .header-logo {
        height: 180px;
        width: 250px;
    }

    .pawprints-img {
        display: block;
    }

    input[type=text] {
        width: 80%;
    }

    .listItemsContainer {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        justify-items: center;
    }

    .input-box {
        width:var(--listwidth-desktop);
    }

    .listItem{
        width:var(--listwidth-desktop);
    }
  
    input.checkbox,
    i {
        margin: 0.3rem;
    }
}

@media (min-width: 1201px) {

    .listItemsContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }

}